<div class="wrapper-container">
    <div class="container-one">
        <div class="wrapper-header">
            <nav class="header">
                <div class="logo">
                    PuffNest
                </div>
                <div class="menu">
                    <ul class="menu-lists">
                        <li>
                            <a routerLink='/product'>Product</a>
                        </li>
                        <li>
                            <a href="">Features</a>
                        </li>
                        <li>
                            <a href="">Reviews</a>
                        </li>
                        <li>
                            <a href="">About us</a>
                        </li>
                    </ul>
                </div>
                <div class="signup">
                    <button class="btn-signup">
                        Sign Up
                    </button>
                </div>
            </nav>
        </div>

    </div>
    <div class="container-two">
        <div class="wrapper-body">
            <div class="body-one">
                <div class="one-left">
                    <div class="main-title">
                        <div class="name">
                            Wireframer Web Kit
                        </div>
                        <div class="main-content">
                            <li>
                                <a href="">Discover the Ultimate</a>
                            </li>
                            <li>
                                <a href="">Comfort with our</a>
                            </li>
                            <li>
                                <a href="">Organic Soft Pouf Sofas</a>
                            </li>
                        </div>
                        <div class="arrow">
                            <div class="arrow-left">
                                <span class="material-symbols-outlined">
                                    arrow_back
                                </span>
                            </div>
                            <div class="arrow-right">
                                <span class="material-symbols-outlined">
                                    arrow_forward
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content-title">
                        <div class="left-content">
                            <div class="icon-one">
                                <span class="material-symbols-outlined">
                                    offline_bolt
                                </span>
                            </div>
                            <div class="subtitle-one">
                                Comfortable Seating
                            </div>
                            <div class="mini-title-one">
                                The material and thickness of the cusion can greatly affect the comfort level
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="icon-two">
                                <span class="material-symbols-outlined">
                                    timelapse
                                    </span>
                            </div>
                            <div class="subtitle-two">
                                Durability and Quality
                            </div>
                            <div class="mini-title-two">
                                Wooden frames are common and sturdy, but metal frames can also be durable.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="one-mid">
                    <div class="content">
                        <div class="content-one">
                            Sustainable Stylish and Simply Irresistible
                        </div>
                        <div class="content-two">
                            There are several reasons to consider buying a pouf for your home.
                        </div>
                    </div>
                </div> -->
                <div class="one-right">
                    <div class="photo">
                        <img src="https://littlenation.com.au/wp-content/uploads/2022/05/Single-Seater-Modular-Sofa-Couch_3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="body-two">
                <div class="logo">
                    <div class="amazon">
                        <img src="https://img.icons8.com/?size=100&id=E8MFP0NUONwF&format=png&color=000000" alt="">
                    </div>
                    <div class="shopify">
                        <img src="https://img.icons8.com/?size=100&id=p8usiry0dg78&format=png&color=000000" alt="">
                    </div>
                    <div class="attentive">
                        <img src="https://img.icons8.com/?size=100&id=gSTJ1DBV590n&format=png&color=000000" alt="">
                    </div>
                    <div class="zapier">
                        <img src="https://img.icons8.com/?size=100&id=KqE8TqNkyet8&format=png&color=000000" alt="">
                    </div>
                    <div class="layers">
                        <img src="https://img.icons8.com/?size=100&id=JBkLbNGHdzJK&format=png&color=000000" alt="">
                    </div>
                    <div class="catalog">
                        <img src="https://img.icons8.com/?size=100&id=taQKoivsY3AO&format=png&color=000000" alt="">
                    </div>
                </div>
            </div>
            <div class="body-three">
                <div class="main-title padding-item">
                    Why Choose US
                </div>
                <div class="subtitle padding-item">
                    Why Choose Our Soft Pouf Sofas
                </div>
                <div class="content1">
                    Here is our amazing teaching method that suits for you. Read our 
                </div>
                <div class="content2">
                    features and know the best.
                </div>
            </div>
            <div class="body-four">
                <div class="card-item">
                    <div class="icon padding-10">
                        <span class="material-symbols-outlined">
                            compost
                        </span>
                    </div>
                    <div class="title padding-10">
                        Organic
                    </div>
                    <div class="subtitle padding-10">
                        Our pouf sofas 100% Have organic materials,
                    </div>
                </div>
                <div class="card-item">
                    <div class="icon padding-10">
                        <span class="material-symbols-outlined">
                            dashboard_2
                        </span>
                    </div>
                    <div class="title padding-10">
                        Craftsmanship
                    </div>
                    <div class="subtitle padding-10">
                        Merticulously crafted by skilled artisans
                    </div>
                </div>
                <div class="card-item">
                    <div class="icon padding-10">
                        <span class="material-symbols-outlined">
                            living
                        </span>
                    </div>
                    <div class="title padding-10">
                        Comfort
                    </div>
                    <div class="subtitle padding-10">
                        Sink into the plush comfort pouf sofas
                    </div>
                </div>
                <div class="card-item">
                    <div class="icon padding-10">
                        <span class="material-symbols-outlined">
                            star
                        </span>
                    </div>
                    <div class="title padding-10">
                        Stylish
                    </div>
                    <div class="subtitle padding-10">
                        Our sofas come in a range of classic designs
                    </div>
                </div>
 
            </div>
            <div class="body-five">
                <div class="photo">
                    <img src="https://www.jamessaid.com.au/pub/media/catalog/product/cache/60bc85a076056f728f2ffc1bad4c5bef/1/1/117930_0_1_1.webp" alt="">
                </div>
                <div class="features">
                    <div class="main-features padding-item">
                        FEATURES
                    </div>
                    <div class="title1">
                        Why product 
                    </div>
                    <div class="title2">
                        stories? learn more
                    </div>
                    <div class="lists padding-item">
                        <div class="lists-one padding-item">
                            <div class="main">
                                <div class="icon-tick">
                                    <span class="material-symbols-outlined">
                                        check
                                    </span>
                                </div>
                                <div class="title">
                                    The Serene Haven Pouf
                                </div>
                            </div>
                            <div class="subtitle">
                                By converting all your Shopify product pages in AMP format.
                            </div>
                        </div>
                        <div class="lists-two padding-item">
                            <div class="main">
                                <div class="icon-tick">
                                    <span class="material-symbols-outlined">
                                        check
                                    </span>
                                </div>
                                <div class="title">
                                    Nature's Embrace Pouf
                                </div>
                            </div>
                            <div class="subtitle">
                                AMP is the latest Google technology allowing websites to load at much higher speeds
                            </div>
                        </div>
                        <div class="lists-three padding-item">
                            <div class="main">
                                <div class="icon-tick">
                                    <span class="material-symbols-outlined">
                                        check
                                    </span>
                                </div>
                                <div class="title">
                                    Elegance in Simplicity
                                </div>
                            </div>
                            <div class="subtitle">
                                The story format is already a proven layout for giving users a more interactive.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-six">
                <div class="scroll-ads">
                    <div class="title">
                        Products
                    </div>
                    <div class="subtitle">
                        Popular Products
                    </div>
                    <div class="info1">
                        Check out our most popular collection that suit for you. Here you 
                    </div>
                    <div class="info2">
                        can find your favorite one.
                    </div>
                    <div class="view">
                        View All Courses
                    </div>
                    <div class="cart">

                    </div>
                </div>
            </div>
            <div class="body-seven">
                <div class="reviews">
                    <div class="title">
                        Testimonials
                    </div>
                    <div class="subtitle">
                        Which is what our popular customers are saying
                    </div>
                    <div class="review-content1">
                        But I must explain to you how all this mistaken idea of 
                    </div>
                    <div class="review-content2">
                        denouncing pleasure and praising pain was born
                    </div>
                    <div class="scroll-review">

                    </div>
                </div>
                <div class="signup-email">

                </div>
            </div>
        </div>
    </div>
    <div class="container-three">
        <div class="wrapper-footer">
            
        </div>
    </div>
</div>
