<div class="wrapper-container">
    <div class="container-one">
        <div class="wrapper-header">
            <nav class="header">
                <div class="logo">
                    PuffNest
                </div>
                <div class="menu">
                    <ul class="menu-lists">
                        <li>
                            <a routerLink='/product'>Product</a>
                        </li>
                        <li>
                            <a href="">Features</a>
                        </li>
                        <li>
                            <a href="">Reviews</a>
                        </li>
                        <li>
                            <a href="">About us</a>
                        </li>
                    </ul>
                </div>
                <div class="signup">
                    <button class="btn-signup">
                        Sign Up
                    </button>
                </div>
            </nav>
        </div>

    </div>
    <div class="container-two">
        <div class="wrapper-body">
            <div class="body-one">
                <div class="one-left">
                    <div class="main-title">
                        <div class="name">
                            Wireframer Web Kit
                        </div>
                        <div class="main-content">
                            <li>
                                <a href="">Discover the Ultimate</a>
                            </li>
                            <li>
                                <a href="">Comfort with our</a>
                            </li>
                            <li>
                                <a href="">Organic Soft Pouf Sofas</a>
                            </li>
                        </div>
                        <div class="arrows">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                            <span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                    <div class="content-title">
                        <div class="left-content">
                            <div class="icon-one">
                                <span class="material-symbols-outlined">
                                    bolt
                                    </span>
                            </div>
                            <div class="subtitle-one">
                                Comfortable Seating
                            </div>
                            <div class="mini-title-one">
                                The material and thickness of the cusion can greatly affect the comfort level
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="icon-two">
                                <span class="material-symbols-outlined">
                                    timelapse
                                    </span>
                            </div>
                            <div class="subtitle-two">
                                Durability and Quality
                            </div>
                            <div class="mini-title-two">
                                Wooden frames are common and sturdy, but metal frames can also be durable.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="one-mid">
                    <div class="content">
                        <div class="content-one">
                            Sustainable Stylish and Simply Irresistible
                        </div>
                        <div class="content-two">
                            There are several reasons to consider buying a pouf for your home.
                        </div>
                    </div>
                </div>
                <div class="one-right">
                    <div class="photo">
                        
                    </div>
                </div>
            </div>
            <div class="body-two">
                <div class="logos">
                    <div class="amazon">

                    </div>
                    <div class="shopify">

                    </div>
                    <div class="attentive">

                    </div>
                    <div class="zapier">

                    </div>
                    <div class="layers">

                    </div>
                    <div class="catalog">

                    </div>
                </div>
            </div>
            <div class="body-three">
                <div class="main-title">
                    Why Choose US
                </div>
                <div class="subtitle">
                    Why Choose Our Soft Pouf Sofas
                </div>
                <div class="content1">
                    Here is our amazing teaching method that suits for you. Read our 
                </div>
                <div class="content2">
                    features and know the best.
                </div>
            </div>
            <div class="body-four">
                <img src="" alt="">
            </div>
            <div class="body-five">
                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="features">
                    <div class="main-features">
                        FEATURES
                    </div>
                    <div class="title1">
                        Why product 
                    </div>
                    <div class="title2">
                        stories? learn more
                    </div>
                    <div class="lists">
                        <div class="lists-one">
                            <div class="icon-tick">

                            </div>
                            <div class="title">
                                The Serene Haven Pouf
                            </div>
                            <div class="subtitle">
                                By converting all your Shopify product pages in AMP format.
                            </div>
                        </div>
                        <div class="lists-two">
                            <div class="icon-ticke">
                                
                            </div>
                            <div class="title">
                                Nature's Embrace Pouf
                            </div>
                            <div class="subtitle">
                                AMP is the latest Google technology allowing websites to load at much higher speeds
                            </div>
                        </div>
                        <div class="lists-three">
                            <div class="icon-ticke">
                                
                            </div>
                            <div class="title">
                                Elegance in Simplicity
                            </div>
                            <div class="subtitle">
                                The story format is already a proven layout for giving users a more interactive.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-six">
                <div class="scroll-ads">
                    <div class="title">
                        Products
                    </div>
                    <div class="subtitle">
                        Popular Products
                    </div>
                    <div class="info1">
                        Check out our most popular collection that suit for you. Here you 
                    </div>
                    <div class="info2">
                        can find your favorite one.
                    </div>
                    <div class="view">
                        View All Courses
                    </div>
                    <div class="ads">

                    </div>
                </div>
            </div>
            <div class="body-seven">
                <div class="reviews">
                    <div class="title">
                        Testimonials
                    </div>
                    <div class="subtitle">
                        Which is what our popular customers are saying
                    </div>
                    <div class="review-content">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                    </div>
                    <div class="scroll-review">

                    </div>
                </div>
                <div class="signup-email">

                </div>
            </div>
        </div>
    </div>
    <div class="container-three">
        <div class="wrapper-footer">
            
        </div>
    </div>
</div>
