/* You can add global styles to this file, and also import other style files */
@import "assets/styles/header.scss";
@import "assets/styles/main.scss";
@import "assets/styles/body.scss";
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

