.container-two{
    .wrapper-body{
        .body-one{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            .one-left{
                .main-title{
                    padding-top: 80px;
                    .name{
                        font-size: 12px;
                        color: grey;
                    }
                    .main-content{
                        font-weight: bold;
                        font-size: 25px;
                        li{
                            a{
                                color: black;
                            }
                        }
                    }
                }
                .content-title{
                    display: flex;
                    .left-content{
                        .subtitle-one{
                            font-weight: bold;
                            font-size: 12px;
                        }
                        .mini-title-one{
                            font-size: 12px;
                        }
                    }
                    .right-content{
                        .subtitle-two{
                            font-weight: bold;
                            font-size: 12px;
                        }
                        .mini-title-two{
                            font-size: 12px;
                        }
                    }
                }
            }
            .one-mid{
                .content{
                    display: flex;
                    .content-one{
                        transform: rotate(-90deg);
                        font-weight: bold;
                    }
                    .content-two{
                        transform: rotate(-90deg);
                    }
                }
            }
            .one-right{
                .photo{

                }
                
            }
        }
        .body-two{

        }
         .body-three{
            .main-title{
                display: block;
                text-align: center;
                color: gold;
            }
            .subtitle{
                display: block;
                font-weight: bold;
                text-align: center;
                font-size: large;
            }
            .content1{
                display: block;
                text-align: center;
                color: gray;
                font-size: small;
            }
            .content2{
                display: block;
                text-align: center;
                color: gray;
                font-size: small;
            }
            
        }
        .body-five{
            .features{
                display: block;
                text-align: end;
                .main-features{
                    color: gold;
                }
                .title1{
                    font-weight: bold;
                }
                .title2{
                    font-weight: bold;
                }
                .subtitle{
                    color: grey;
                    font-size: 12px;
                }
                .lists{
                    .title{
                        font-weight: bold;
                    }
                    .subtitle{
                        color: gray;
                    }
                }
            }
        }
        .body-six{
            .scroll-ads{
                .title{
                    color: gold;
                }
                .subtitle{
                    font-weight: bold;
                }
                .info1{
                    color: grey;
                    font-size: 12px;
                }
                .info2{
                    color: grey;
                    font-size: 12px;
                }
                .view{
                    text-align: end;
                    color: skyblue;
                    cursor: pointer;
                    text-decoration: underline;
                    font-size: 12px;
                }
            }
        }
    }
}
