.container-one{
    .wrapper-header{
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                padding-left: 80px;
                font-weight: bold;
                cursor: pointer;
            }
            .menu{
                .menu-lists{
                    display: flex;
                    align-items: center;
                    li{
                        padding: 0 5px;
                        a{
                            color: black;
                        }
                    }
                }
                
            }
            .signup{
                padding-right: 60px;
                .btn-signup{
                    padding: 10px 20px;
                    background-color: #3a271a;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
}
