.container-one{
    margin-top: 25px;
    .wrapper-header{
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                padding-left: 80px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    font-size: 25px;
                }
            }
            .menu{
                .menu-lists{
                    display: flex;
                    align-items: center;

                    li{
                        padding: 0 10px;
                        a{
                            color: black;
                            &:hover{
                                font-weight: bold;
                            }
                        }
                    }
                }
                
            }
            .signup{
                padding-right: 60px;
                .btn-signup{
                    padding: 10px 20px;
                    background-color: #3a271a;
                    color: #fff;
                    border-radius: 5px;
                    &:hover{
                        cursor: pointer;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
